// Images and videos

img,
video,
audio,
svg {
  max-width: 100%;
  vertical-align: top;
}

img,
video {
  height: auto;
  width: 100%;
}

.sandbox-image-jump-fix {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.lazy-image {
  opacity: 0;
  transition: opacity 0.2s;

  &.lazyload {
    height: 100%;
  }

  &.lazyloaded,
  &.ls-is-cached {
    opacity: 1;
  }

  &.content-type--image-jpeg {
    // background-color: $lazy-image-placeholder-color
  }

  &.no-placeholder-background {
    background-color: transparent;
  }

  .scroll-reveal--opacity & {
    opacity: 1;
  }
}

.sandbox-video,
.lazy-video-placeholder {
  aspect-ratio: var(--aspect-ratio);
}

.media-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.background-image-contain {
  background-size: contain;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
}
