html {
  font-size: 62.5%;
  text-rendering: auto;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
  }
}

body {
  @include font--regular;
}

h1, h2, h3, h4, h5, h6 {
  @include font--regular;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
