/////////////////////////////////////////////////////////////////////////
//
// Bootstrap overrides
//
/////////////////////////////////////////////////////////////////////////

$spacer: 1rem;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3),
    7: ($spacer * 4),
    8: ($spacer * 6)
  ),
  $spacers
);

// Grid columns
// $grid-columns:                14 !default;
// $grid-gutter-width:           60px !default;

/////////////////////////////////////////////////////////////////////////
//
// APP VARIABLES
//
/////////////////////////////////////////////////////////////////////////

// Colors
$white: #ffffff;
$black: #000000;

// Color assignments

// Transitions
$tt: 0.2s;

// Sizes
$gutter: 15px;

$site-max-width: 1400px;
$site-padding-md: 30px;

// Breakpoints
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

$vert-screen-sm: 600px;
