///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$font-stack__regular : sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--regular {
  font-family: $font-stack__regular;
  font-size:      1.8rem;
  line-height:    2.1rem;
  letter-spacing: 0.025rem;
}
