# Additional htaccess security recommendations:
# https://github.com/anantshri/wp-security/tree/master/htaccess

# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
order deny,allow
deny from all
</Files>

# Block access to various files
# wp-config.php holds your configuration file.
<files wp-config.php>
order allow,deny
deny from all
</files>
<Files .htaccess,.svn,error_log>
order allow,deny
deny from all
</Files>
#blocking access to readme.txt and html
# plugin and themes have readme.txt
<files readme.txt>
order allow,deny
deny from all
</files>
<files readme.html>
order allow,deny
deny from all
</files>
#SWFupload still exist in core to support plugin's
#blocking access to swfupload.swf
<files swfupload.swf>
order allow,deny
deny from all
</files>
# another commonly exploited script.
#blocking timthumb.php
<files timthumb.php>
order allow,deny
deny from all
</files>

## Registration is disabled so...
## deny access to wp-signup.php and wp-register.php
## Ref : http://journalxtra.com/websiteadvice/wordpress-security-hardening-htaccess-rules/
RewriteCond %{REQUEST_URI} wp-signup\.php [NC,OR]
RewriteCond %{QUERY_STRING} wp-signup\.php [NC,OR]
RewriteCond %{THE_REQUEST} wp-signup\.php [NC,OR]
RewriteCond %{REQUEST_URI} wp-register\.php [NC,OR]
RewriteCond %{QUERY_STRING} wp-register\.php [NC,OR]
RewriteCond %{THE_REQUEST} wp-register\.php [NC]
RewriteRule .* - [F,NS,L]
