///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$font-stack__regular : sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--regular {
  font-family: $font-stack__regular;
  font-size:      16px;
  line-height:    1.4;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 18px;
  }
}
