html {
  @include breakpoint(sm) {
    text-rendering: optimizeLegibility;
  }
}

body {
  @include font--regular;
}

h1, h2, h3, h4, h5, h6 {
  @include font--regular;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.regular {
  @include font--regular;
}
