/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors
$black: #000;
$white: #fff;

// Fonts stacks

// Font settings

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

// Transitions
$tt: 0.2s;
