/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors

// Fonts stacks

// Font settings

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

$gutter: 15px;

// Breakpoints
$breakpoint-xs : 480px;
$breakpoint-sm : 768px;
$breakpoint-md : 1092px;
$breakpoint-lg : 1400px;

// Transitions
$tt: 0.2s;
