//
// Variables
//

// Colors

// Fonts stacks

// Font settings

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

// Breakpoints
$break-ext  : 1600px;
$break-desk : 1230px;
$break-tab  : 1023px;
$break-hand : 767px;

// Transitions
$tt: 0.2s;
$tt-long: 0.6s;
