* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #000;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::selection {
  // background: #CCCCCC;
  // text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

div {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
