// Adjust this to match the site's style and give < IE7 something pretty to look at
.chromeframe {
  margin: 0 0 20px;
  padding: 40px;
  background: #DCDCDC;
  color: #000;
  text-align: center;
}
